.background-top {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 660px;
  margin: 0%;
}

.header-contact {
  margin-left: -40px;
  text-align: right;
}

.header-mail {
  margin-right: -40px;
  text-align: left;
}

.telefone {
  padding-left: 20px;
  width: 19px;
  height: 19px;
}
.logo {
  width: 37.95px;
  height: 50px;
}

.item {
  width: 28px;
  height: 24px;
}

.contact {
  color: #ff4d00;
  font-weight: 800;
  font-size: 15px;
  margin: 0%;
  text-decoration: none;
}

.number {
  color: #ffff;
  font-size: 15px;
  margin: 0%;
}

.comunicacao {
  color: #ff4d00;
  font-weight: 800;
  font-size: 15px;
  margin: 0%;
  text-decoration: none;
}

.email {
  color: #ffff;
  font-size: 15px;
  margin: 0%;
}

.background2 {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 55px;
  align-items: center;
  border-top: 1px solid #1e90ff; /* linha azul no topo */
  border-bottom: 1px solid #1e90ff; /* linha azul embaixo */
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}
.logo2 {
  display: flex;
  align-items: center;
  margin-left: 400px;
  gap: 5px;
  width: 92px;
  height: 21px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 400;
  font-weight: bold;
}

.logo2 img {
  width: 22.43px;
  height: 30px;
}

.info {
  color: #818181;
  display: flex;
  align-items: center;
  gap: 100px;
}
.info-auta {
  text-decoration: none;
  color: #6c6c6c;
}
.info-info {
  text-decoration: none;
  color: #6c6c6c;
}
.info-cont {
  text-decoration: none;
  color: #6c6c6c;
}
.info-cont :hover {
  color: #ff4d00;
}
.info-info :hover {
  color: #ff4d00;
}
.info-auta :hover {
  color: #ff4d00;
}
.logoscomunic {
  display: flex;
  gap: 15px;
  margin-right: 400px;
  align-items: center;
}
