.background{
    position: relative;
}


.background img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px;
    padding-left: 180px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 50px;
}

.overlay span {
    color: #FF5500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.overlay br {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.text {
    color: #FF4D00;
    font-size: 30px;
    font-weight: 700;
    margin-left: 240px;
    
    
}

.text p {
    color: black;
    margin-left: 150px;
    margin-bottom: 0px;
}
